<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Sistema de Gestión de Estudiantes</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/logo.jpg" width="35" height="5">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Estudiantes</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/add">Añadir nuevo Estudiante</a>
                        <a class="navbar-item" href="/students">Listado</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary is-rounded" href="/">Inicio</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <section class="section">
        <div class="container">
            <h1 class="title">Bienvenido al Sistema de Gestión de Estudiantes VERSION BETA</h1>
            <p class="subtitle">Desarrollado por Jesús Ariza</p>
            <div class="content">
                <p>Este sistema de gestión de estudiantes está diseñado para ayudar al personal de la Universidad Nacional Experimental de la Fuerza Armada (UNEFA) a administrar de manera eficiente la información de los estudiantes.</p>
                <p>Con esta aplicación, puedes agregar, editar, buscar y eliminar estudiantes fácilmente, así como asignar notas y realizar otras operaciones relacionadas con la gestión de estudiantes.</p>
                <p>Esperamos que esta herramienta sea útil para optimizar los procesos de gestión de estudiantes en la UNEFA y facilitar el trabajo del personal académico y administrativo.</p>
                <p>Aun faltan pulir algunas cosas y añadir nuevas funciones. Pero bueno, al fin y al cabo, roma no se construyo en un solo dia...</p>
            </div>
        </div>
    </section>

    <!-- Bulma JavaScript for Navbar - Similar to previous examples -->
</body>
</html>
